FRONTEND_URL=http://localhost:5173
UPLOAD_DIR=uploads
DB_HOST=localhost
DB_PORT=5432
DB_NAME=youtubedb
DB_USER=postgres
DB_PASSWORD=postgres
AWS_REGION=us-east-1
S3_BUCKET_NAME=ourtube-videos
S3_PRESIGNED_URL_EXPIRES=3600
